<div class="background-animation">

<h2 style="font-family: 'Comic Sans MS', cursive; color: #f97713;" class="transition-effect">Configura y genera tu historia</h2>


<div class="form-container" [@fadeAnimation]="showform ? 'in' : 'out'">
  <div class="form-fields">
    <form [formGroup]="storyForm">

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Historia</mat-label>
        <mat-select formControlName="storieControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let storie of stories" [value]="storie">
            {{storie.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="storieControl.hasError('required')">Please choose an option</mat-error>
        <mat-hint>{{storieControl.value?.sound}}</mat-hint>
      </mat-form-field>


      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Personaje Principal</mat-label>
        <input matInput formControlName="mainCharacter">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Lugar</mat-label>
        <input matInput formControlName="place">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Género</mat-label>
        <input matInput formControlName="genre">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Público</mat-label>
        <mat-select formControlName="audience">
          <mat-option *ngFor="let option of audienceOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>


  <div class="form-fields">
    <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="onClick()" style="background-color: #f97713; color: #fff;">JUGAR</button>
  </div>

  <div class="image-container">
    <img *ngIf="storyForm.value.storieControl" [src]="storyForm.value.storieControl.image" alt="Selected option image" class="transition-effect" align="right">
  </div>
  
</div>

<!-- audio-player.component.html -->
<div class="generate-audio" *ngIf="showGenerateAudio">
  <button (click)="generateAudio()">Generar Audio</button>
</div>
<!-- <button (click)="generateAudio()">Generar Audio</button>-->

<audio controls *ngIf="showAudio">
  <source [src]="audioUrl" type="audio/mp3">
  Tu navegador no soporta la reproducción de audio.
</audio>


<div *ngIf="generatedStory" class="story-container-2" [@storyAnimation]="showStory ? 'in' : 'out'">
    <!-- Aquí mostrarás la historia -->
    {{ generatedStory }}
</div>



<!-- Mostrar las imágenes generadas -->
<div class="image-container"[@storyAnimation]="showStory ? 'in' : 'out'">
  <ng-container *ngFor="let imageUrl of images">
    <img [src]="imageUrl" alt="Generated Image" />
  </ng-container>
</div>


<div *ngIf="showStory" class="form-fields">
  <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="onClick2()">PREGUNTAS</button>
</div>


<!-- Mostrar las preguntas -->
<div *ngIf="showQuestions" class="story-container-2" [@storyAnimation]="showQuestions ? 'in' : 'out'">
  <!-- Aquí mostrarás las preguntas -->
  <div *ngFor="let question of generatedQuestions">
    <h3>{{ question.id }} {{ question.question_text }}</h3>
    <ul>
      <li *ngFor="let option of question.options">{{ option }}</li>
    </ul>
  </div>  
</div>

