<h2 style="font-family: 'Comic Sans MS', cursive; color: #f97713;" class="transition-effect">¿De qué quieres que trate tu historia?</h2>


<div class="form-container" [@fadeAnimation]="showform ? 'in' : 'out'">
  <div class="form-fields">
    <form [formGroup]="storyForm">

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Historia</mat-label>
        <mat-select formControlName="storieControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let storie of stories" [value]="storie">
            {{storie.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="storieControl.hasError('required')">Please choose an option</mat-error>
        <mat-hint>{{storieControl.value?.sound}}</mat-hint>
      </mat-form-field>


      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Personaje Principal</mat-label>
        <input matInput formControlName="mainCharacter">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Lugar</mat-label>
        <input matInput formControlName="place">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Género</mat-label>
        <input matInput formControlName="genre">
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Público</mat-label>
        <input matInput formControlName="audience">
      </mat-form-field>
    </form>
  </div>

  <div class="form-fields">
    <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="onClick()">JUGAR</button>
  </div>

  <div class="image-container">
    <img *ngIf="storyForm.value.storieControl.name" [src]="storyForm.value.storieControl.image" alt="Selected option image" class="transition-effect" align="right">
  </div>
  
</div>

<div *ngIf="generatedStory" class="story-container" [@storyAnimation]="showStory ? 'in' : 'out'">
  <h2>Historia Generada:</h2>
  <p>{{ generatedStory }}</p>
</div>





