<!-- Mostrar las preguntas -->
<div class="story-container-2">
  <!-- Aquí mostrarás las preguntas -->
  <div *ngFor="let question of generatedQuestions">
    <h3>*{{ question.question_text }}</h3>
    <ul>
      <li *ngFor="let option of question.options">
        <label>
          <mat-checkbox [(ngModel)]="option.isSelected" (change)="onCheckboxChange(question.id, option)">{{ option.text }}</mat-checkbox>
        </label>
      </li>
    </ul>
  </div>  
</div>

<div>
  <button (click)="checkAnswers()">Verificar Respuestas</button>
</div>

<!-- Muestra la calificación -->
<div *ngIf="showScore" [ngStyle]="{'background-color': scoreColor}" class="show-score score-container" >
  <p>Tu calificación es: {{ totalScore }} puntos</p>
</div>


