<div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner"></div>
    <p>Cargando Preguntas...</p>
  </div>

<div class="background-image">
    <div *ngIf="!storyId" class="no-story-message">
    AQUÍ SE MOSTRARÁN LAS HISTORIAS QUE SE CREAN
    </div>

    <div class="new-container" >
        <!-- audio-player.component.html -->
        <div *ngIf="storyId" class="generate-audio">
            <button (click)="generateAudio()">Generar Audio</button>
        </div>
        <!-- <button (click)="generateAudio()">Generar Audio</button>-->
        
        <audio controls *ngIf="showAudio">
            <source [src]="audioUrl" type="audio/mp3">
            Tu navegador no soporta la reproducción de audio.
        </audio>

        <div *ngIf="storyId" class="story-container">
            <!-- Aquí mostrarás la historia -->
            <pre class="custom-font">
                {{ storyContent }}
            </pre>
        </div>

        <div *ngIf="storyId" class="form-fields">
            <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="generateQuestions()" >PREGUNTAS</button>
          </div>
    </div>
    <!-- Mostrar las imágenes generadas -->
  <div class="image-container">
    <ng-container *ngFor="let imageUrl of images_gen">
      <img [src]="imageUrl" alt="Generated Image" />
    </ng-container>
  </div>
</div>
