<div class="loading-overlay" *ngIf="loading">
  <div class="loading-spinner"></div>
  <p>Generando historia...</p>
</div>

<div class="background-image">
  <div class="title-container">
    <h2>GENERA TU HISTORIA</h2>
  </div>
  <div class="form-container" [@fadeAnimation]="showform ? 'in' : 'out'">
    <div class="form-fields">
      <form [formGroup]="storyForm">

        <mat-form-field appearance="fill" class="transition-effect input-form">
          <mat-label>Historia</mat-label>
          <textarea matInput placeholder="Alex descubre un mundo secreto lleno de criaturas magicas..." 
          formControlName="storieControl" class="textarea-input"></textarea>
          <button mat-icon-button (click)="startRecording('storieControl')">
            <mat-icon>mic</mat-icon>
          </button>
        </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect input-form">
        <mat-label>Personajes</mat-label>
        <textarea matInput placeholder="Alex - un niño de 10 que ama el futbol y sueña con ser futbolista profesional. 
        Miguel - El mejor amigo de Alex
        
        Gloria - La madre de Alex...." 
        
        formControlName="mainCharacter" class="textarea-input"></textarea>
        <button mat-icon-button (click)="startRecording('mainCharacter')">
          <mat-icon>mic</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect input-form">
        <mat-label>Lugar</mat-label>
        <textarea matInput placeholder="La historia toma lugar en una pequeña aldea magica..." 
        formControlName="place" class="textarea-input"></textarea>
        <button mat-icon-button (click)="startRecording('place')">
          <mat-icon>mic</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect input-form">
        <mat-label>Género</mat-label>
        <input matInput placeholder="Ejemplo: Fantansia, Aventuras, Misterio, etc." matInput formControlName="genre">
        <button mat-icon-button (click)="startRecording('genre')">
          <mat-icon>mic</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="transition-effect">
        <mat-label>Público</mat-label>
        <mat-select formControlName="audience">
          <mat-option *ngFor="let option of audienceOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>

      
    </form>
  </div>

</div>

<div class="form-fields">
  <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="genStorie()" style="background-color: #f97713; color: #fff;">
    <mat-icon>draw</mat-icon>
    GENERAR HISTORIA</button>
</div>


<div class="new-container" *ngIf="showNewContainer">
  <!-- audio-player.component.html -->
  <div class="generate-audio" *ngIf="showGenerateAudio">
    <button (click)="generateAudio()">Generar Audio</button>
  </div>
  <!-- <button (click)="generateAudio()">Generar Audio</button>-->

  <audio controls *ngIf="showAudio">
    <source [src]="audioUrl" type="audio/mp3">
    Tu navegador no soporta la reproducción de audio.
  </audio>


  <div *ngIf="generatedStory" class="story-container-2" [@storyAnimation]="showStory ? 'in' : 'out'">
      <!-- Aquí mostrarás la historia -->
      {{ generatedStory }}
  </div>



  <!-- Mostrar las imágenes generadas -->
  <div class="image-container"[@storyAnimation]="showStory ? 'in' : 'out'">
    <ng-container *ngFor="let imageUrl of images">
      <img [src]="imageUrl" alt="Generated Image" />
    </ng-container>
  </div>


  <div *ngIf="showStory" class="form-fields">
    <button mat-raised-button color="primary" class="button-spacing button-animation transition-effect" (click)="onClick2()">PREGUNTAS</button>
  </div>


  <!-- Mostrar las preguntas -->
  <div *ngIf="showQuestions" class="story-container-2" [@storyAnimation]="showQuestions ? 'in' : 'out'">
    <!-- Aquí mostrarás las preguntas -->
    <div *ngFor="let question of generatedQuestions">
      <h3>{{ question.id }} {{ question.question_text }}</h3>
      <ul>
        <li *ngFor="let option of question.options">
          <label>
            <input type="checkbox" [(ngModel)]="question.selectedOption" [value]="option">
            {{ option }}
          </label>
        </li>
      </ul>
    </div>  
  </div>
</div>
