.transition-effect {
  animation: fadeIn 3s, src 3s ease-out;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.button-spacing {
  margin-left: 50px;
}

.animated-image {
  animation: bounce 2s infinite; /* Agrega una animación de rebote */
}
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px); /* Cambia esto para ajustar la altura del rebote */
    }
    60% {
      transform: translateY(-15px); /* Cambia esto para ajustar la altura del rebote */
    }
  }

  
  .button-animation {
    transition: transform 0.2s ease-in-out;
  }
  
  .button-animation:hover {
    transform: scale(1.1); /* Hace que el botón se agrande ligeramente al pasar el mouse por encima */
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para que la imagen de fondo sea visible */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .form-fields {
    flex: 1; /* Los campos de formulario ocupan todo el espacio disponible en el contenedor */
    margin-right: 20px; /* Espacio entre los campos de formulario y la imagen */
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del contenedor de formularios según tus necesidades */
    text-align: center;
  }

  .input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .image-container {
    flex: 1; /* La imagen ocupa todo el espacio disponible en el contenedor */
    display: flex;
    justify-content: flex-end; /* Alinea la imagen a la derecha del contenedor */
    align-items: center; /* Alinea verticalmente la imagen en el centro del contenedor */
  }

  .mat-form-field {
    margin-bottom: 30px; /* Ajusta la separación vertical entre los campos de formulario */
  }
  

  /* Clase para ocultar elementos con opacidad */
.hidden {
  opacity: 0;
  display: none;
}

/* Animación para mostrar/ocultar con opacidad */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Clase para animación de entrada (fadeIn) */
.in {
  display: block;
  animation: fadeIn 1s ease-in;
}

/* Clase para animación de salida (fadeOut) */
.out {
  display: block;
  animation: fadeOut 1s ease-out;
}

/* Clase para centrar y estilizar la historia generada */
.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece la altura de la ventana completa */
  text-align: center;
  font-size: 18px;
}

.story-container-2 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px; /* Espacio entre las imágenes y la historia */
}

.story-text {
  width: 45%; /* Establecer el ancho de la historia */
  padding: 20px; /* Agregar un poco de espacio alrededor del texto */
}


/* Alinea las imágenes horizontalmente */
.image-container {
  display: flex;
  justify-content: center;
}

/* Estilo para las imágenes generadas */
.image-container img {
  max-width: 100%;
  margin: 10px; /* Espacio entre las imágenes */
}

.background-image {
  background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618326985_7-phonoteka_org-p-foni-detskie-dlya-detskogo-sada-7.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para que la imagen de fondo sea visible */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
  