<!DOCTYPE html>
<html>
  <body>
    <header>
      <h1>My Children's Stories App</h1>
    </header>
    <main>
      <h2>Welcome to our app!</h2>
      <p>Generate your own story right now:</p>
      <div class="select-container">
        
        <button class="read-button" (click)="goGenarateSotries()">Generate Story</button>
      </div>
      <div class="image-container">
        
      </div>
    </main>
    <footer>
      <p>Copyright &copy; 2023</p>
    </footer>
    <script src="app.js"></script>
  </body>
</html>
