<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>MENU LATERAL</mat-drawer>
    <mat-drawer-content>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Alumnos</h4>
                                <p class="card-category">Seccion 1ro A , 2023</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>Codigo</th>
                                        <th>Name</th>
                                        <th>Edad</th>
                                        <th>Promedio</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>10</td>
                                            <td>12.59</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>9</td>
                                            <td>16.89</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>9</td>
                                            <td>15.40</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>10</td>
                                            <td>19.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

